<ion-app>
  <ion-menu contentId="menu">
    <ion-header>
      <ion-toolbar color="gel-orange">
       <div class="logo-container">
         <img src="../assets/img/icon-tdl.png" alt="logo">
       </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="full">
      <ion-menu-toggle>
        <ion-item routerLink="home">
          <ion-icon name="add-circle" slot="start"></ion-icon>
          <ion-label>ToDo</ion-label>
        </ion-item>
        <ion-item routerLink="settings">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="gel-orange">
        <ion-title>todolist</ion-title>
      </ion-toolbar>
    </ion-footer>
    </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
