<ion-header>
  <ion-toolbar color="gel-orange">
    <ion-buttons>
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title>To-Do list</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="gel-dark" class="ion-padding">
  <ion-card>
    <ion-card-header color="gel-orange">
      <ion-card-title>Add ToDo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #todoForm="ngForm" (ngSubmit)="save(todoForm.value)">
        <ion-grid class="ion-padding-top">
          <ion-row>
            <ion-col>
              <ion-textarea
                type="text"
                label="Title"
                labelPlacement="floating"
                fill="outline"
                name="Title"
                ngModel
                rows="5"
                maxlength="50"
                #title
                (keyup)="check(title.value)"
              ></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select
                label="Category"
                labelPlacement="floating"
                fill="outline"
                name="category"
                [(ngModel)]="propCategory"
              >
                <div
                  *ngIf="categories === 'default', then ifBlock else elseBlock"
                ></div>
                <ng-template #ifBlock>
                  <ion-select-option value="default">Default</ion-select-option>
                </ng-template>
                <ng-template #elseBlock>
                  <ion-select-option value="default">Default</ion-select-option>
                  <ion-select-option
                    *ngFor="let item of objectCategories"
                    [value]="item.name"
                    >{{ item.name }}
                  </ion-select-option
                  >
                </ng-template>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                type="submit"
                color="gel-orange"
                expand="block"
                size="large"
                [disabled]="propDisabled"

              >
                <ion-icon name="save" slot="start"></ion-icon>
                Save
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  <app-list> </app-list>
</ion-content>
